name: Sync LeetCode

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 6" # Runs once a week (Sat at 8am). Change to "0 0 * * *" for daily.

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Sync
        uses: joshcai/leetcode-sync@v1.7
        with:
          github-token: ${{ github.token }}
          leetcode-csrf-token: ${{ secrets.LEETCODE_CSRF_TOKEN }}
          leetcode-session: ${{ secrets.LEETCODE_SESSION }}
          destination-folder: solutions # Optional: folder to store code
